
        img{
    margin-right: 5px;
    padding: 1.5%;
    width: 140px;
    height: 150px;

}
.chapa{
    padding-top: 5%;
    align-items: center;
    height: 150px;
    width: 120px;
    
    
}
h1{
    color: rgb(0, 0, 0);
    font-size: xx-large;
}